{% include "home.html" %}
{% load static %}

<style>
table,th,td {
    font-family: "Verdana,sans-serif";
    font-size: 5px;
}
</style>

<div id='page_content'>
<div id='header_options'>
    {% include "number_of_records.html" %}
    <span class='header_buttons'>
        <span class='show_link' onclick="base_workflow.open_search_dialog('Job Queues')">Search</span>
        <span class='show_link' onclick="base_workflow.create_new('job_queue')">| Create</span>
    </span>
</div>

<table id='chnk_table'>

<tr>
    <th class="chnk_th">Chunk</th>
    <th colspan="{{ chunk_size }}">Sections</th>
</tr>

{% for c in chunk_sections %}
    <tr class="chnk_tr">
        <td class="chnk_td">{{ c.0 }}</td>
    {% for s in c.1 %}
        {% if s.complete == 'T' %}
        <td class="chnk_td" style="background-color:rgb(150,255,150)">
            <span title="{{ s.z }}">&nbsp;</span></td>
        {% else %}
        <td class="chnk_td" style="background-color:rgb(255,150,150)">
            <span title="{{ s.z }}">&nbsp;</span></td>
        {% endif %}
    {% endfor %}
<!--<td class="wf_td">{{record.name}}</td>
    <td class="wf_td">{{record.description}}</td>
    <td class="wf_td">{{record.job_strategy_class}}</td>
    <td class="wf_td">{{record.enqueued_object_class}}</td>
    <td class="wf_td"><a class='link_to_page' href="/workflow_engine/logs?executable_id={{ record.executable.id }}">{{record.executable.executable_path}}</a></td>
    <td class="wf_td">{{record.get_created_at}}</td>
    <td class="wf_td">{{record.get_updated_at}}</td>
    <td class="wf_td show_link" onclick="base_workflow.update_record('job_queue', {{record.id}})">Update</td>
    <td class="wf_td show_link" onclick="base_workflow.delete_record('job_queue', {{record.id}})">Delete</td>
    <td class="wf_td show_link" onclick="base_workflow.set_show_dialog('Job Queue', 'job_queue', {{record.id}})">Show</td>
-->
    </tr>
{% endfor %}

</table>
</div>

{% include "pagination.html" %}
{% include "search_dialog.html" %}

<script language="javascript">
    base_workflow.set_search_dialog('Job Queues');
</script>