*.pyc
*.csv
*.png
*.log
.cache
.coverage
.eggs
.project
.pydevproject
celerybeat-*
*.egg-info
.pytest_cache
.settings
local_settings.py
debug.log
database.db
build/
htmlcov/
logs/
dist/
test-reports/
eggs_bak/
__pycache__
