{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list static %}

{% block result_list %}
    {% block pagination %} {{ block.super }} {% endblock %}
    {% admin_actions %}
    {% result_list cl %}

    {% load staticfiles %}

<div id='page_content'>
<div id='header_options'>
    {% include "number_of_records.html" %}
</div>

<div>
<select>
    <option value="run_state">Job Queue Run State</option>
    <option value="workflow_state">Montage Workflow State</option>
</select>
<table id='chnk_table' style="background: gray; color: white;">
</table>
</div>
    <link rel="stylesheet" href="{% static 'development/css/section_queue_table.css' %}" />
    <script src="{% static 'development/javascript/section_queue_table.js' %}"></script>
</div>

{% endblock %}

